@import 'tailwindcss';
@utility font-barlow {
  font-family: var(--font-barlow), sans-serif;
}
@utility font-inter {
  font-family: var(--font-inter), sans-serif;
}
@utility font-jet-brains {
  font-family: var(--font-jet-brains), monospace;
}

button {
  cursor: pointer;
}

body {
  background-color: black;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar-track {
    background: rgba(0, 230, 118, 0.05);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2e7d32;
    border-radius: 10px;
    border: 1px solid rgba(0, 230, 118, 0.15);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #00e676;
  }

  scrollbar-width: thin;
  scrollbar-color: #2e7d32 rgba(0, 230, 118, 0.05);
  -ms-overflow-style: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
