# ---------------------------------------
# Application
# ---------------------------------------
# Backend application port
PORT=8000
# URL of the frontend application
FRONTEND_URL=http://127.0.0.1:3000
NODE_ENV=development

# ---------------------------------------
# Cache and queue (Redis)
# ---------------------------------------
REDIS_URL=redis://127.0.0.1:6379
# When is "true", this will enable TLS Redis instance (must have in production)
REDIS_TLS=false

# ---------------------------------------
# Database (PostgreSQL)
# ---------------------------------------
# Full URL used by Prisma
DATABASE_URL="postgresql://your_local_postgres_user:your_local_postgres_password@localhost:5432/live-wave?schema=public"
# Direct connection (for migrations only)
DIRECT_URL=your_direct_url
# Pieces used by "docker-compose.yml" to initialize the database
POSTGRES_USER=your_local_postgres_user
POSTGRES_PASSWORD=your_local_postgres_password
POSTGRES_DB=live-wave

# ---------------------------------------
# Telegram integration
# ---------------------------------------
TELEGRAM_BOT_TOKEN=your_telegram_bot_key
TELEGRAM_BOT_USERNAME=your_telegram_bot_username
# Must be a publicly accessible URL with HTTPS (use "npx localtunnel --port 8000" to get temporary domain) 
TELEGRAM_WEBHOOK_URL=https://your_domain.com/api/v1/notifications/telegram/webhook

# ---------------------------------------
# JWT authentication
# ---------------------------------------
# Generate strong secrets (128 characters) using command in the terminal:
# Windows: ([guid]::NewGuid().ToString() + [guid]::NewGuid().ToString()).Replace("-","").Substring(0,128)
# Linux/macOS: openssl rand -hex 64
JWT_ACCESS_SECRET=your_local_secret
JWT_REFRESH_SECRET=your_local_secret

# ---------------------------------------
# Observability and Metrics
# ---------------------------------------
GF_SECURITY_ADMIN_PASSWORD=your_admin_password
METRICS_BEARER_TOKEN=your_admin_token

# ---------------------------------------
# Loki
# ---------------------------------------
# Levels: error | warn | info | verbose | debug | silly
LOG_LEVEL=info
LOKI_HOST=http://127.0.0.1:3100