# .env.local
PORT=8000
FRONTEND_URL=http://localhost:8000
NODE_ENV=development

# redis (local)
REDIS_URL=redis://127.0.0.1:6379

# postgreSQL (local)
DATABASE_URL=postgresql://your_user:your_password@localhost:5432/your_db_name?schema=public
POSTGRES_USER=your_local_postgres_user
POSTGRES_PASSWORD=your_local_postgres_password
POSTGRES_DB=live-wave

# telegram bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_key

# JWT
JWT_ACCESS_SECRET=your_local_secret
JWT_REFRESH_SECRET=your_local_secret